@font-face {
    font-family: minecraftFont ;
    src: url(fonts/Minecraft_Evenings.ttf);
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: minecraftFont;
}

body{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom ;
    -webkit-backdrop-filter: blur(10px);

}

h1{
    background: #024729;
    width: 80%;
    text-align: center;
    border-radius: 10px;
    box-shadow:1px 1px 8px 4px #00000025;
    backdrop-filter: blur(4.3px);
    -webkit-backdrop-filter: blur(4.3px);
    font-size: 50px;
    padding: 20px;
    letter-spacing: 5px;
}

.cards{
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    grid-template-rows: 17% 17% 17% 17% 17%;
    align-content: space-evenly;
    justify-content: space-evenly;
}

.card{
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all .6s ease-in;
    cursor: pointer;
}

.rotate{
    transform: rotateY(180deg);
}

.front, .back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;

    background: #024729;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.699);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);

}
.front{
    transform: rotateY(180deg);

}
.win{
    position: absolute;
    background-color: #0000006b;
    height: 100vh;
    width: 100vw;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    text-align: center;
    flex-direction: column;
    opacity: 100%;
}

.restart{
    border: none;
    font-size: 40px;
    background-color: #000000;
    color: white;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: .6s;
    margin-top: 60px;
}

.win button:hover{
    transform: scale(1.1);
}

img{
    pointer-events: none;
    height: 60px;
    width: 60px;
}

